*, *:before, *:after {
  box-sizing: border-box;
}

html {
  background: $primary-colour-lightest;
}

a {
  text-decoration: none;
  color: $dark-font-colour;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}