$dark-font-colour: #03171E;
$font-colour: #5A5A5A;
$light-font-colour: #7D7D7D;

//http://paletton.com/#uid=63E0u0kl1Wx1x+IcEXDsUWkWEVB

$primary-colour-darkest:       #0367F0;
$primary-colour-dark:          #2B7FF2;
$primary-colour:               #619EF3;
$primary-colour-light:         #9DC2F6;
$primary-colour-lightest:      #F3F8FE;

$alt-primary-colour-darkest:   #2504F2;
$alt-primary-colour-dark:      #4E34F4;
$alt-primary-colour:           #7C69F4;
$alt-primary-colour-light:     #AEA2F7;
$alt-primary-colour-lightest:  #F5F4FE;

$secondary-colour-darkest:     #00F0BA;
$secondary-colour-dark:        #17F2C1;
$secondary-colour:             #53F2CF;
$secondary-colour-light:       #94F5E0;
$secondary-colour-lightest:    #F2FEFC;

$complement-colour-darkest:    #FF9F00;
$complement-colour-dark:       #FFA919;
$complement-colour:            #FFC058;
$complement-colour-light:      #FFD99A;
$complement-colour-lightest:   #FFFAF3;