@mixin font-size($size: 1.6, $line: $size * 1.625, $responsive: false) {
  font-size: ($size * 10) + px;
  line-height: ($line * 10) + px;
  font-size: $size + rem;
  line-height: $line + rem;
  @if $responsive {

    @media (max-width: $small-breakpoint) {
      font-size: ($size * 10 * 0.6) + px;
      line-height: ($line * 10 * 0.6) + px;
      font-size: ($size * 0.6) + rem;
      line-height: ($line * 0.6) + rem;
    }
    @media (min-width: $small-breakpoint) and (max-width: $medium-breakpoint) {
      font-size: ($size * 10 * 0.9) + px;
      line-height: ($line * 10 * 0.9) + px;
      font-size: ($size * 0.9) + rem;
      line-height: ($line * 0.9) + rem;
    }
  }
}

@mixin transition-colour($colour, $background-colour, $glow-children: false) {
  @if $background-colour {
    background: $background-colour;
  }
  @if $colour {
    color: $colour;
  }
  @if $glow-children {
    & > * {
      transition: 500ms linear 0s;
      transition-property: color, background-color;
      @if $background-colour {
        background: $background-colour;
      }
      @if $colour {
        color: $colour;
      }
    }
  }
}