nav {
  background: $primary-colour-lightest;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $nav-height;
  box-shadow: 0 0 5px $primary-colour-light;
}

.no-boxshadow {
  nav {
    border-top: 1px solid $primary-colour-light;
  }
}

nav a {
  text-decoration: none;
  border-radius: 50%;
  background: $primary-colour;
  color: $primary-colour-lightest;
  display: inline-block;
  width: 65px;
  height: 65px;
  margin: 15px 1%;
  transition: 500ms linear 0s;
  transition-property: color, background-color;
  &:hover, &:focus {
    @include glow($alt-primary-colour, $complement-colour-light, false);
  }
}

.nav-text {
  float: left;
  width: 100%;
  padding-top: 50%;
  line-height: 10px;
  margin-top: -5px;
  text-align: center;
}

main {
  padding-top: 15px;
  padding-bottom: $nav-height;
  max-width: 570px;
  margin: 0 auto;
}

.active-link {
  background: $complement-colour-darkest;
  &:hover, &:focus {
    background: $complement-colour-darkest;
  }
}

.no-text-decoration {
  text-decoration: none;
}

.links-list {
  text-align: center;
  padding: 0;
  li {
    list-style: none;
  }
  a {
    display: inline-block;
    margin: 7.5px;
    transition: color 500ms linear 0s;
    text-decoration: none;
    color: $dark-font-colour;
    &:hover, &:focus {
      @include glow($alt-primary-colour, false, true);
    }
  }
  i {
    transition: color 500ms linear 0s;
    color: $secondary-colour;
    vertical-align: middle;
  }
  span {
    display: inline-block;
    width: 150px;
    text-align: left;
  }
}

.avatar {
  width: 50%;
  height: 50%;
  max-width: 280px;
  max-height: 280px;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}