nav {
  background: $primary-colour-lightest;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $nav-height;
  box-shadow: 0 0 5px $primary-colour-light;
  z-index: 1;
}

nav a {
  text-decoration: none;
  border-radius: 50%;
  background: $primary-colour;
  color: $primary-colour-lightest;
  display: inline-block;
  width: 65px;
  height: 65px;
  margin: 15px 1%;
  transition: 500ms linear 0s;
  transition-property: color, background-color;
  &:hover, &:focus {
    @include transition-colour($alt-primary-colour, $complement-colour-light, false);
  }
}

.nav-text {
  float: left;
  width: 100%;
  padding-top: 50%;
  line-height: 10px;
  margin-top: -5px;
  text-align: center;
}

main {
  padding-top: 15px;
  padding-bottom: 15 + $nav-height;
  max-width: 570px;
  margin: 0 auto;
}

.active-link {
  background: $complement-colour-darkest;
  &:hover, &:focus {
    background: $complement-colour-darkest;
  }
}

.home-link {
  margin: 0;
  text-decoration: none;
}

.links-list {
  text-align: center;
  padding: 0;
  li {
    list-style: none;
  }
  a {
    display: inline-block;
    margin: 7.5px;
    transition: color 500ms linear 0s;
    text-decoration: none;
    color: $dark-font-colour;
    &:hover, &:focus {
      @include transition-colour($alt-primary-colour, false, true);
    }
  }
  i {
    transition: color 500ms linear 0s;
    color: $secondary-colour;
    vertical-align: middle;
  }
  span {
    display: inline-block;
    width: 150px;
    text-align: left;
  }
}

.avatar {
  width: 50%;
  height: 50%;
  max-width: 280px;
  max-height: 280px;
  border-radius: 10px;
}

.iframe-container {
  margin: 15px;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.align-centre {
  text-align: center;
}

.block {
  display: block;
}

.no-text-decoration {
  text-decoration: none;
}

.glow {
  display: block;
  img {
    transition: box-shadow 500ms linear 0s;
  }
  &:hover, &:focus {
    img {
      box-shadow: 0 0 20px $secondary-colour;
    }
  }
}

.no-boxshadow {
  nav {
    border-top: 1px solid $primary-colour-light;
  }
  .glow {
    &:hover, &:focus {
      img {
        border: 1px solid $secondary-colour;
      }
    }
  }
}