html { 
	font-size: 62.5%;
	background-color: #FFFFF2;
} 

header, footer {	
	font-family: 'Bitter', Georgia, serif;
	color: #58595b;	
}

header {
	font-size: 4.8rem;
}

section {
	font-size: 2.4rem;
	font-family: 'Gudea', Georgia, serif;	
	color: #3C3C3C;	
}

footer {
	font-size: 1.8rem;
}

header, section, footer {
	text-align: center;	
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-bottom: 2rem;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    display: inline;
}

a {
    color: #3C3C3C;
    text-decoration: none;
}

a:hover {
    color: #58595b;
}